{% extends "base.html" %}
  <title>Play Game</title>
{% block content %}
<div class="jumbotron">
    <h2>Ready to play!</h2>
    <br>
  <form action="/madlibs">
    <div class="form-group">
    <label for="color-group">Pick a color</label>
    {% for color in color_choice %}
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="color" value="{{ color }}">{{ color }}
    </div>
    {% endfor %}
    


  <div class="form-group">
  <label for="color-group">Pick a noun</label>
  {% for noun in noun_choice %}
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="noun" value="{{ noun }}">{{ noun }}
  </div>
  {% endfor %}
  <div></div>

  Pick a person:
  <input type="text" name="person" value="You">
  </div>


  <div class="form-group">
  <label for="color-group">Pick an adjective</label>
  {% for adjective in adjective_choice %}
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="adjective" value="{{ adjective }}">{{ adjective }}
  </div>
  {% endfor %}
  </div>
  </div>
 
  <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>

{% endblock %}