<!doctype html>
<html>
<head>
  <title>Play game</title>
</head>
<body>
    <form action="/madlibs">
        Pick a color:
        <select name="color">color
            <option name="blue">blue</option>
            <option name="red">red</option>
            <option name="green">green</option>
            <option name="purple">purple</option>
            <option name="yellow">yellow</option>
            <option name="orange">orange</option>
        </select>
        Pick a noun:
        <select name="noun">noun
            <option name="hat">hat</option>
            <option name="pickle">pickle</option>
            <option name="hoozit">hoozit</option>
            <option name="spork">spork</option>
            <option name="dongle">dongle</option>
        </select>
        Pick a person
        <input type="text" name="person">
        Pick an adjective    
        <select name= "adjective">
            <option name="juicy">juicy</option>
            <option name="basic">basic</option>
            <option name="boss">boss</option>
            <option name="chill">chill</option>
            <option name="neurotic">neurotic</option>
        </select>
    <input type="submit">
    </form>
</body>
</html>